[submodule "modules/antigen"]
	path = modules/antigen
	url = https://github.com/zsh-users/antigen
[submodule "modules/vimrc"]
	path = modules/vimrc
	url = https://github.com/amix/vimrc.git
[submodule "modules/tmux"]
	path = modules/tmux
	url = https://github.com/tony/tmux-config.git
[submodule "modules/powerline-fonts"]
	path = modules/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "modules/nvm"]
	path = modules/nvm
	url = https://github.com/creationix/nvm.git
